/* CUSTOM STYLESHEET */  
* { 
  margin: 0;
  padding: 0;
}
/*global settings*/
:root {
	--color-blue-dark: #06346F;
	--color-blue-light: #7CB2F8;
	--color-blue-100: rgba(124, 178, 248, 0.08);
	--color-black-primary: #2F2C2C;
	--color-black-secondary: #4A5360; 
	--color-grey: #A7B5C9; 
	--color-white: #ffffff; 
	--color-pink-dark: #D10069; 
	--color-pink-light: #FF69B4; 
    --color-pink-100: rgba(255, 105, 180, 0.1); 
  
    --text-14: 14px;
    --text-16: 16px;
    --text-18: 18px;
    --text-20: 20px;
    --text-24: 24px;
    --text-28: 28px;
    --text-36: 36px;
    --text-48: 48px;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: var(--text-16);
    background: var(--color-white);
    letter-spacing: 0.5px;
    box-sizing: border-box;
    line-height: 26px;
  }
li {
  list-style: none;
} 
h1, h2, h3,h4,h5,h6 {
    font-family: Arial, sans-serif;
}
a, p {
    font-family: Arial, sans-serif;
}
a {
  text-decoration: none;
}
img {
  object-fit: cover;
}
.page {
  padding: 120px 0;
}
.wrapper {
  margin: 0 95px;
}
.section-header {
  font-family: Arial, sans-serif;
  font-size: var(--text-48);
  font-weight: 700;
  color: var(--color-black-primary);
}
.heading {
  color: var(--color-black-primary);
  font-size: var(--text-48);
  margin-bottom: var(--text-16);
  line-height: 55px;
}
.sub-head {
  color: var(--color-black-primary);
  font-size: var(--text-36);
  margin: 40px 0;
  line-height: 41px;
}
.colored {
  color: var(--color-blue-dark);
}
.description {
  font-size: var(--text-24);
  color: var(--color-black-secondary);
  line-height: 38px;
}
.scroll-group {
  overflow: hidden;
}
.scroll-container {
  display: flex;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  overflow-x: auto;
}
.scroll-container::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
@media (max-width: 1200px) {
  .wrapper {
    margin: 0 5%;
  }
}

@media (max-width: 1024px) {
  .description {
      font-size: var(--text-18);
  }
}

@media (max-width:840px) {
  .page {
    padding: 50px 0;
  }
  .wrapper {
    margin: 0 30px;
  }
  .heading {
      font-size: 32px;
  }
  .sub-head {
    font-size: var(--text-24);
  }
  .description {
      font-size: var(--text-14);
  }
}